{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Paystack API",
    "description" : "The **Paystack** API Collection is a collection of all endpoints that merchants and developers can take advantage of to build financial solutions in Nigeria",
    "contact" : { },
    "license" : { },
    "version" : "2cfbdef8-e47c-40a9-8e72-0d330c39052f"
  },
  "externalDocs" : { },
  "servers" : [ {
    "url" : "https://api.paystack.co"
  } ],
  "security" : [ {
    "bearerAuth" : [ ]
  } ],
  "paths" : {
    "/transaction/initialize" : {
      "post" : {
        "tags" : [ "Transactions" ],
        "summary" : "Initialize Transaction",
        "description" : "**Body Params**\n- **email** (_required_) - Customer's email address\n- **amount** (_required_) - Amount in kobo\n- **reference** - Generate a reference or leave this param blank for Paystack to generate one for you\n- **callback_url** - Overrides the callback URL set on Paystack dashboard.\n- **plan** - If transaction is to create a subscription to a predefined plan, provide plan code here. This would invalidate the value provided in `amount`\n- **invoice_limit** - Number of times to charge customer during subscription to plan\n- **metadata** - Stringified JSON object. Add a `custom_fields` attribute which has an array of objects if you would like the fields to be added to your transaction when displayed on the dashboard.\n- **subaccount** - The code for the subaccount that owns the payment.\n- **transaction_charge** - A flat fee to charge the subaccount for this transaction, in kobo. This overrides the split percentage set when the subaccount was created. Ideally, you will need to use this if you are splitting in flat rates (since subaccount creation only allows for percentage split).\n- **bearer** - Who bears Paystack charges? `account` or `subaccount` (defaults to `account`).\n- **channels** - Send us 'card' or 'bank' or 'card','bank' as an array to specify what options to show the user paying",
        "operationId" : "InitializeTransaction",
        "parameters" : [ {
          "name" : "Content-Types",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "application/json"
          }
        }, {
          "name" : "Authorizations",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "Bearer "
          }
        } ],
        "requestBody" : {
          "description" : "**Body Params**\n- **email** (_required_) - Customer's email address\n- **amount** (_required_) - Amount in kobo\n- **reference** - Generate a reference or leave this param blank for Paystack to generate one for you\n- **callback_url** - Overrides the callback URL set on Paystack dashboard.\n- **plan** - If transaction is to create a subscription to a predefined plan, provide plan code here. This would invalidate the value provided in `amount`\n- **invoice_limit** - Number of times to charge customer during subscription to plan\n- **metadata** - Stringified JSON object. Add a `custom_fields` attribute which has an array of objects if you would like the fields to be added to your transaction when displayed on the dashboard.\n- **subaccount** - The code for the subaccount that owns the payment.\n- **transaction_charge** - A flat fee to charge the subaccount for this transaction, in kobo. This overrides the split percentage set when the subaccount was created. Ideally, you will need to use this if you are splitting in flat rates (since subaccount creation only allows for percentage split).\n- **bearer** - Who bears Paystack charges? `account` or `subaccount` (defaults to `account`).\n- **channels** - Send us 'card' or 'bank' or 'card','bank' as an array to specify what options to show the user paying",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "string",
                "example" : "{\n  \"email\": \"customer@email.com\",\n  \"amount\": \"5000\",\n  \"currency\": \"NGN\",\n//   \"callback_url\": \"http://url.com\",\n  \"metadata\": {\n  \t\"cancel_action\": \"http://cancelurl.com\"\n  }\n}"
              },
              "example" : "{\n  \"email\": \"customer@email.com\",\n  \"amount\": \"5000\",\n  \"currency\": \"NGN\",\n//   \"callback_url\": \"http://url.com\",\n  \"metadata\": {\n  \t\"cancel_action\": \"http://cancelurl.com\"\n  }\n}"
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Initialize Transaction",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/200"
                },
                "example" : {
                  "status" : true,
                  "message" : "Authorization URL created",
                  "data" : {
                    "authorization_url" : "https://paystack.com/secure/5q70ef6pu1dq4qn",
                    "access_code" : "5q70ef6pu1dq4qn",
                    "reference" : "XXXREF"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transaction/verify/REFRENCE" : {
      "get" : {
        "tags" : [ "Transactions" ],
        "summary" : "Verify Transaction",
        "description" : "**Path Params**\n- **reference** (_required_)",
        "operationId" : "VerifyTransaction",
        "parameters" : [ ],
        "responses" : {
          "200" : { }
        }
      }
    },
    "/transaction" : {
      "get" : {
        "tags" : [ "Transactions" ],
        "summary" : "List Transactions",
        "description" : "**Query Params**\n- **perPage** - Specify how many records you want to retrieve per page\n- **page** - Specify exactly what page you want to retrieve\n- **customer** - Specify an ID for the customer whose transactions you want to retrieve\n- **status** - Filter transactions by status ('failed', 'success', 'abandoned')\n- **from** - A timestamp from which to start listing transaction e.g. 2016-09-24T00:00:05.000Z, 2016-09-21\n- **to** - A timestamp at which to stop listing transaction e.g. 2016-09-24T00:00:05.000Z, 2016-09-21\n- **amount** - Filter transactions by amount. Specify the amount in kobo.",
        "operationId" : "ListTransactions",
        "parameters" : [ ],
        "responses" : {
          "200" : { }
        }
      }
    },
    "/transaction/{id}" : {
      "get" : {
        "tags" : [ "Transactions" ],
        "summary" : "Fetch Transaction",
        "description" : "**Path Params**\n- **id** (_required_) - An ID for the transaction to fetch",
        "operationId" : "FetchTransaction",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : { }
        }
      }
    },
    "/transaction/charge_authorization" : {
      "post" : {
        "tags" : [ "Transactions" ],
        "summary" : "Charge Authorization",
        "description" : "**Body Params**\n- **reference** - Unique transaction reference. Only `-` `,` `.` `,` `=` and alphanumeric characters allowed. System will generate one if none is provided\n- **authorization_code** - (_required_) Valid authorization code to charge\n- **amount** - (_required_) Amount in kobo\n- **plan** - If transaction is to create a subscription to a predefined plan, provide plan code here\n- **currency** - Currency in which amount should be charged\n- ** email** (_required_) - Customer's email address\n- **metadata** - Add a `custom_fields` attribute which has an array of objects if you would like the fields to be added to your transaction when displayed on the dashboard.\n- **subaccount** - The code for the subaccount that owns the payment.\n- **transaction_charge** - A flat fee to charge the subaccount for this transaction, in kobo. This overrides the split percentage set when the subaccount was created. Ideally, you will need to use this if you are splitting in flat rates (since subaccount creation only allows for percentage split).\n- **bearer** - Who bears Paystack charges? `account` or `subaccount`?\n- **invoice_limit** - Number of invoices to raise during the subscription. Overrides `invoice_limit` set on plan.",
        "operationId" : "ChargeAuthorization",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "**Body Params**\n- **reference** - Unique transaction reference. Only `-` `,` `.` `,` `=` and alphanumeric characters allowed. System will generate one if none is provided\n- **authorization_code** - (_required_) Valid authorization code to charge\n- **amount** - (_required_) Amount in kobo\n- **plan** - If transaction is to create a subscription to a predefined plan, provide plan code here\n- **currency** - Currency in which amount should be charged\n- ** email** (_required_) - Customer's email address\n- **metadata** - Add a `custom_fields` attribute which has an array of objects if you would like the fields to be added to your transaction when displayed on the dashboard.\n- **subaccount** - The code for the subaccount that owns the payment.\n- **transaction_charge** - A flat fee to charge the subaccount for this transaction, in kobo. This overrides the split percentage set when the subaccount was created. Ideally, you will need to use this if you are splitting in flat rates (since subaccount creation only allows for percentage split).\n- **bearer** - Who bears Paystack charges? `account` or `subaccount`?\n- **invoice_limit** - Number of invoices to raise during the subscription. Overrides `invoice_limit` set on plan.",
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : { }
        }
      }
    },
    "/transaction/check_authorization" : {
      "post" : {
        "tags" : [ "Transactions" ],
        "summary" : "Check Authorization",
        "description" : "All mastercard and visa authorizations can be checked with this endpoint to know if they have funds for the payment you seek.\n\n**Body Params**\n- **authorization_code** (_required_) - Authorization code for mastercard or VISA authorization belonging to email.\n- **amount** (_required_) - Amount in kobo\n- **email** (_required_) - Customer's email address\n- **currency** - A currency for the amount we want to check\n\nIn test mode, we will return insufficient funds for an amount greater than or equal 500,000 naira.",
        "operationId" : "CheckAuthorization",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "All mastercard and visa authorizations can be checked with this endpoint to know if they have funds for the payment you seek.\n\n**Body Params**\n- **authorization_code** (_required_) - Authorization code for mastercard or VISA authorization belonging to email.\n- **amount** (_required_) - Amount in kobo\n- **email** (_required_) - Customer's email address\n- **currency** - A currency for the amount we want to check\n\nIn test mode, we will return insufficient funds for an amount greater than or equal 500,000 naira.",
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_1"
              },
              "example" : [ {
                "key" : "authorization_code",
                "value" : "AUTH_CODE",
                "type" : "text"
              }, {
                "key" : "email",
                "value" : "customer@email.com",
                "type" : "text"
              }, {
                "key" : "amount",
                "value" : "500000",
                "type" : "text"
              } ]
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : { }
        }
      }
    },
    "/customer/deactivate_authorization" : {
      "post" : {
        "tags" : [ "Transactions" ],
        "summary" : "Deactivate Authorization",
        "description" : "For when the card needs to be forgotten...\n\n**Body Params**\n- **authorization_code** (_required_) - Authorization code to be deactivated\n\n",
        "operationId" : "DeactivateAuthorization",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "For when the card needs to be forgotten...\n\n**Body Params**\n- **authorization_code** (_required_) - Authorization code to be deactivated\n\n",
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : { }
        }
      }
    },
    "/transaction/timeline/{id_or_reference}" : {
      "get" : {
        "tags" : [ "Transactions" ],
        "summary" : "View Transaction Timeline",
        "operationId" : "ViewTransactionTimeline",
        "parameters" : [ {
          "name" : "id_or_reference",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : { }
        }
      }
    },
    "/transaction/totals" : {
      "get" : {
        "tags" : [ "Transactions" ],
        "summary" : "Transaction Totals",
        "description" : "Total amount received on your account\n\n**Query Params**\n- **from** - Lower bound of date range. Leave undefined to show totals from day one.\n- **to** - Upper bound of date range. Leave undefined to show totals till date.",
        "operationId" : "TransactionTotals",
        "parameters" : [ ],
        "responses" : {
          "200" : { }
        }
      }
    },
    "/transaction/export" : {
      "get" : {
        "tags" : [ "Transactions" ],
        "summary" : "Export Transactions",
        "description" : "**Query Params**\n- **from** - Lower bound of date range. Leave undefined to export transactions from day one.\n- **to** - Upper bound of date range. Leave undefined to export transactions till date.\n- **settled** - Set to `true` to export only settled transactions. `false` for pending transactions. Leave undefined to export all transactions\n- **payment_page** - Specify a payment page's id to export only transactions conducted on said page\n- **customer** - Specify customer id.\n- **currency** - Currency in which you are charging the customer in.\n- **settlement** - An ID for the settlement whose transactions we should export\n- **amount** - Amount for transactions to export\n- **status** - Status for transactions to export",
        "operationId" : "ExportTransactions",
        "parameters" : [ ],
        "responses" : {
          "200" : { }
        }
      }
    },
    "/customer" : {
      "get" : {
        "tags" : [ "Customers" ],
        "summary" : "List Customers",
        "description" : "**Query Params**\n- **perPage** - Specify how many records you want to retrieve per page\n- **page** - Specify exactly what page you want to retrieve",
        "operationId" : "ListCustomers",
        "parameters" : [ ],
        "responses" : {
          "200" : { }
        }
      },
      "post" : {
        "tags" : [ "Customers" ],
        "summary" : "Create Customer",
        "description" : "**Body Params**\n- **email** (_required_) - Customer's email address\n- **first_name** - Customer's first name\n- **last_name** - Customer's last name\n- **phone** - Customer's phone number\n- **metadata** - A set of key/value pairs that you can attach to the customer. It can be used to store additional information in a structured format.",
        "operationId" : "CreateCustomer",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "**Body Params**\n- **email** (_required_) - Customer's email address\n- **first_name** - Customer's first name\n- **last_name** - Customer's last name\n- **phone** - Customer's phone number\n- **metadata** - A set of key/value pairs that you can attach to the customer. It can be used to store additional information in a structured format.",
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_3"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : { }
        }
      }
    },
    "/customer/{id_or_customer_code}" : {
      "get" : {
        "tags" : [ "Customers" ],
        "summary" : "Fetch Customer",
        "description" : "**Query Params**\n- **exclude_transactions** - By default, fetching a customer returns all their transactions. Set this to true to disable this behaviour.",
        "operationId" : "FetchCustomer",
        "parameters" : [ {
          "name" : "id_or_customer_code",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : { }
        }
      }
    },
    "/customer/{ID_OR_CUSTOMER_CODE}" : {
      "put" : {
        "tags" : [ "Customers" ],
        "summary" : "Update Customer",
        "description" : "**Body Params**\n- **first_name** - Customer's first name\n- **last_name** - Customer's last name\n- **phone** - Customer's phone number\n- **metadata** - A set of key/value pairs that you can attach to the customer. It can be used to store additional information in a structured format.",
        "operationId" : "UpdateCustomer",
        "parameters" : [ {
          "name" : "ID_OR_CUSTOMER_CODE",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number"
          }
        } ],
        "requestBody" : {
          "description" : "**Body Params**\n- **first_name** - Customer's first name\n- **last_name** - Customer's last name\n- **phone** - Customer's phone number\n- **metadata** - A set of key/value pairs that you can attach to the customer. It can be used to store additional information in a structured format.",
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_4"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : { }
        }
      }
    },
    "/customer/set_risk_action" : {
      "post" : {
        "tags" : [ "Customers" ],
        "summary" : "White/blacklist Customer",
        "description" : "**Body Params**\n- **customer** - Customer's ID, code, or email address\n- **risk_action** - One of the possible risk actions. `allow` to whitelist. `deny` to blacklist.",
        "operationId" : "White/blacklistCustomer",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "**Body Params**\n- **customer** - Customer's ID, code, or email address\n- **risk_action** - One of the possible risk actions. `allow` to whitelist. `deny` to blacklist.",
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_5"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : { }
        }
      }
    },
    "/subaccount" : {
      "get" : {
        "tags" : [ "Subaccounts" ],
        "summary" : "List Subaccounts",
        "description" : "**Query Params**\n- **perPage** - Specify how many records you want to retrieve per page\n- **page** - Specify exactly what page you want to retrieve",
        "operationId" : "ListSubaccounts",
        "parameters" : [ ],
        "responses" : {
          "200" : { }
        }
      },
      "post" : {
        "tags" : [ "Subaccounts" ],
        "summary" : "Create Subaccount",
        "description" : "**Body Params**\n- **business_name** (_required_) - Name of business for subaccount\n- **settlement_bank** (_required_) - Name of Bank (see list of accepted names by calling [List Banks](https://developers.paystack.co/v1.0/docs/list-banks)\n- **account_number** (_required_) - NUBAN Bank Account Number\n- **percentage_charge** (_required_) - What is the default percentage charged when receiving on behalf of this subaccount?\n- **primary_contact_email** - A contact email for the subaccount\n- **primary_contact_name** - A name for the contact person for this subaccount\n- **primary_contact_phone** - A phone number to call for this subaccount\n- **metadata** - Stringified JSON object\n- **settlement_schedule** - Any of `auto`, `weekly`, `monthly`, `manual`. Auto means payout is T+1 and manual means payout to the subaccount should only be made when requested.\n\nReceive payments for the created subaccount by providing their code when doing a transaction. More details here: [Split Payments Overview](https://developers.paystack.co/v1.0/docs/split-payments-overview)",
        "operationId" : "CreateSubaccount",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "**Body Params**\n- **business_name** (_required_) - Name of business for subaccount\n- **settlement_bank** (_required_) - Name of Bank (see list of accepted names by calling [List Banks](https://developers.paystack.co/v1.0/docs/list-banks)\n- **account_number** (_required_) - NUBAN Bank Account Number\n- **percentage_charge** (_required_) - What is the default percentage charged when receiving on behalf of this subaccount?\n- **primary_contact_email** - A contact email for the subaccount\n- **primary_contact_name** - A name for the contact person for this subaccount\n- **primary_contact_phone** - A phone number to call for this subaccount\n- **metadata** - Stringified JSON object\n- **settlement_schedule** - Any of `auto`, `weekly`, `monthly`, `manual`. Auto means payout is T+1 and manual means payout to the subaccount should only be made when requested.\n\nReceive payments for the created subaccount by providing their code when doing a transaction. More details here: [Split Payments Overview](https://developers.paystack.co/v1.0/docs/split-payments-overview)",
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_6"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : { }
        }
      }
    },
    "/subaccount/{id_or_slug}" : {
      "get" : {
        "tags" : [ "Subaccounts" ],
        "summary" : "Fetch Subaccount",
        "operationId" : "FetchSubaccount",
        "parameters" : [ {
          "name" : "id_or_slug",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : { }
        }
      },
      "put" : {
        "tags" : [ "Subaccounts" ],
        "summary" : "Update Subaccount",
        "operationId" : "UpdateSubaccount",
        "parameters" : [ {
          "name" : "id_or_slug",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_7"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : { }
        }
      }
    },
    "/plan" : {
      "get" : {
        "tags" : [ "Plans" ],
        "summary" : "List Plans",
        "description" : "**Query Params**\n- **perPage** - Specify how many records you want to retrieve per page\n- **page** - Specify exactly what page you want to retrieve\n- **interval** - Filter list by plans with specified interval\n- **amount** - Filter list by plans with specified amount (in kobo)",
        "operationId" : "ListPlans",
        "parameters" : [ ],
        "responses" : {
          "200" : { }
        }
      },
      "post" : {
        "tags" : [ "Plans" ],
        "summary" : "Create Plan",
        "description" : "**Body Params**\n- **name** (_required_) - Name of plan\n- **description** - Short description of plan\n- **amount** (_required_) - Amount to be charged in kobo\n- **interval** (_required_) - Interval in words. Valid intervals are `hourly`, `daily`, `weekly`, `monthly`, `annually`.\n- **send_invoices** - Set to false if you don't want invoices to be sent to your customers\n- **currency** - Currency in which amount is set\n- **invoice_limit** - Number of invoices to raise during subscription to this plan. Can be overridden by specifying an `invoice_limit` while subscribing.",
        "operationId" : "CreatePlan",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "**Body Params**\n- **name** (_required_) - Name of plan\n- **description** - Short description of plan\n- **amount** (_required_) - Amount to be charged in kobo\n- **interval** (_required_) - Interval in words. Valid intervals are `hourly`, `daily`, `weekly`, `monthly`, `annually`.\n- **send_invoices** - Set to false if you don't want invoices to be sent to your customers\n- **currency** - Currency in which amount is set\n- **invoice_limit** - Number of invoices to raise during subscription to this plan. Can be overridden by specifying an `invoice_limit` while subscribing.",
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_8"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : { }
        }
      }
    },
    "/plan/id_or_plan_code" : {
      "get" : {
        "tags" : [ "Plans" ],
        "summary" : "Fetch Plan",
        "operationId" : "FetchPlan",
        "parameters" : [ ],
        "responses" : {
          "200" : { }
        }
      }
    },
    "/plan/{id_or_plan_code}" : {
      "put" : {
        "tags" : [ "Plans" ],
        "summary" : "Update Plan",
        "description" : "**Body Params**\n- **name** - Name of plan\n- **description** - Short description of plan\n- **amount** - Amount to be charged in kobo. Will override the amount for existing subscriptions.\n- **interval** - Interval in words. Valid intervals are `hourly`, `daily`, `weekly`, `monthly`, `annually`.\n- **send_invoices** - Set to false if you don't want invoices to be sent to your customers.\n- **send_sms** - Set to false if you don't want text messages to be sent to your customers\n- **currency** - Currency in which amount is set\n- **invoice_limit** - Number of invoices to raise during subscription to this plan. Will not override `invoice_limit` set on active subscriptions.",
        "operationId" : "UpdatePlan",
        "parameters" : [ {
          "name" : "id_or_plan_code",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number"
          }
        } ],
        "requestBody" : {
          "description" : "**Body Params**\n- **name** - Name of plan\n- **description** - Short description of plan\n- **amount** - Amount to be charged in kobo. Will override the amount for existing subscriptions.\n- **interval** - Interval in words. Valid intervals are `hourly`, `daily`, `weekly`, `monthly`, `annually`.\n- **send_invoices** - Set to false if you don't want invoices to be sent to your customers.\n- **send_sms** - Set to false if you don't want text messages to be sent to your customers\n- **currency** - Currency in which amount is set\n- **invoice_limit** - Number of invoices to raise during subscription to this plan. Will not override `invoice_limit` set on active subscriptions.",
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_9"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : { }
        }
      }
    },
    "/subscription" : {
      "get" : {
        "tags" : [ "Subscriptions" ],
        "summary" : "List Subscriptions",
        "description" : "**Query Params**\n- **perPage** - Specify how many records you want to retrieve per page\n- **page** - Specify exactly what page you want to retrieve\n- **customer** - Filter by Customer ID\n- **plan** - Filter by Plan ID",
        "operationId" : "ListSubscriptions",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "List Subscriptions",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/200"
                },
                "example" : {
                  "status" : true,
                  "message" : "Subscriptions retrieved",
                  "data" : [ {
                    "customer" : {
                      "first_name" : "employee14",
                      "last_name" : "demo",
                      "email" : "employee14@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_7o5rpgyihn2ccui",
                      "risk_action" : "default",
                      "id" : 1395761,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:45:04.000Z",
                      "updatedAt" : "2018-01-14T13:45:04.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Mpc product G186WMRJ",
                      "plan_code" : "PLN_qajv0uplnjz2y05",
                      "amount" : 9000000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8235,
                      "integration" : 132621,
                      "createdAt" : "2018-01-22T13:44:21.000Z",
                      "updatedAt" : "2018-01-22T13:44:21.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3658609,
                    "domain" : "test",
                    "start" : 1516628816,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 9000000,
                    "subscription_code" : "SUB_2gc07u0dqk1yb1f",
                    "email_token" : "b2jd0eo7yacv98p",
                    "easy_cron_id" : "493980",
                    "cron_expression" : "0 0 21 * *",
                    "next_payment_date" : "2018-02-21T13:46:50.000Z",
                    "invoice_limit" : 0,
                    "id" : 36190,
                    "createdAt" : "2018-01-22T13:46:56.000Z",
                    "updatedAt" : "2018-01-22T13:46:58.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee13",
                      "last_name" : "demo",
                      "email" : "employee13@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_4krtj6y63m5fobz",
                      "risk_action" : "default",
                      "id" : 1395760,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:45:02.000Z",
                      "updatedAt" : "2018-01-14T13:45:02.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Mpc product G186WMRJ",
                      "plan_code" : "PLN_qajv0uplnjz2y05",
                      "amount" : 9000000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8235,
                      "integration" : 132621,
                      "createdAt" : "2018-01-22T13:44:21.000Z",
                      "updatedAt" : "2018-01-22T13:44:21.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3625849,
                    "domain" : "test",
                    "start" : 1516628814,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 9000000,
                    "subscription_code" : "SUB_75o3he3uuzd78wp",
                    "email_token" : "3wvpgdqtwxpixq2",
                    "easy_cron_id" : "493979",
                    "cron_expression" : "0 0 21 * *",
                    "next_payment_date" : "2018-02-21T13:46:50.000Z",
                    "invoice_limit" : 0,
                    "id" : 36189,
                    "createdAt" : "2018-01-22T13:46:54.000Z",
                    "updatedAt" : "2018-01-22T13:46:55.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee11",
                      "last_name" : "demo",
                      "email" : "employee11@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_fs968067v1doow0",
                      "risk_action" : "default",
                      "id" : 1395756,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:44:52.000Z",
                      "updatedAt" : "2018-01-14T13:44:52.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Mpc product G186WMRJ",
                      "plan_code" : "PLN_qajv0uplnjz2y05",
                      "amount" : 9000000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8235,
                      "integration" : 132621,
                      "createdAt" : "2018-01-22T13:44:21.000Z",
                      "updatedAt" : "2018-01-22T13:44:21.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3620114,
                    "domain" : "test",
                    "start" : 1516628812,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 9000000,
                    "subscription_code" : "SUB_mb83ddoe9o1qfsq",
                    "email_token" : "t93p7dxbgicmyrb",
                    "easy_cron_id" : "493978",
                    "cron_expression" : "0 0 21 * *",
                    "next_payment_date" : "2018-02-21T13:46:50.000Z",
                    "invoice_limit" : 0,
                    "id" : 36188,
                    "createdAt" : "2018-01-22T13:46:52.000Z",
                    "updatedAt" : "2018-01-22T13:46:53.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee13",
                      "last_name" : "demo",
                      "email" : "employee13@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_4krtj6y63m5fobz",
                      "risk_action" : "default",
                      "id" : 1395760,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:45:02.000Z",
                      "updatedAt" : "2018-01-14T13:45:02.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Mpc product YBZ84RVZCOZ3",
                      "plan_code" : "PLN_pl42mdegb1pay14",
                      "amount" : 9000000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8232,
                      "integration" : 132621,
                      "createdAt" : "2018-01-22T13:28:01.000Z",
                      "updatedAt" : "2018-01-22T13:28:01.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3625849,
                    "domain" : "test",
                    "start" : 1516627795,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 9000000,
                    "subscription_code" : "SUB_bn9ab5zt3jxjwn3",
                    "email_token" : "vrc1x9i9dxha8s9",
                    "easy_cron_id" : "493969",
                    "cron_expression" : "0 0 21 * *",
                    "next_payment_date" : "2018-02-21T13:29:50.000Z",
                    "invoice_limit" : 0,
                    "id" : 36183,
                    "createdAt" : "2018-01-22T13:29:55.000Z",
                    "updatedAt" : "2018-01-22T13:29:55.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee12",
                      "last_name" : "emo",
                      "email" : "employee12@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_5z5i6sw36jx2wlu",
                      "risk_action" : "default",
                      "id" : 1395757,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:44:56.000Z",
                      "updatedAt" : "2018-01-14T13:44:56.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Mpc product YBZ84RVZCOZ3",
                      "plan_code" : "PLN_pl42mdegb1pay14",
                      "amount" : 9000000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8232,
                      "integration" : 132621,
                      "createdAt" : "2018-01-22T13:28:01.000Z",
                      "updatedAt" : "2018-01-22T13:28:01.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3625717,
                    "domain" : "test",
                    "start" : 1516627793,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 9000000,
                    "subscription_code" : "SUB_jry95yp22952v32",
                    "email_token" : "vcqc4wgdcefxcye",
                    "easy_cron_id" : "493968",
                    "cron_expression" : "0 0 21 * *",
                    "next_payment_date" : "2018-02-21T13:29:50.000Z",
                    "invoice_limit" : 0,
                    "id" : 36182,
                    "createdAt" : "2018-01-22T13:29:53.000Z",
                    "updatedAt" : "2018-01-22T13:29:53.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee11",
                      "last_name" : "demo",
                      "email" : "employee11@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_fs968067v1doow0",
                      "risk_action" : "default",
                      "id" : 1395756,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:44:52.000Z",
                      "updatedAt" : "2018-01-14T13:44:52.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Mpc product YBZ84RVZCOZ3",
                      "plan_code" : "PLN_pl42mdegb1pay14",
                      "amount" : 9000000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8232,
                      "integration" : 132621,
                      "createdAt" : "2018-01-22T13:28:01.000Z",
                      "updatedAt" : "2018-01-22T13:28:01.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3620114,
                    "domain" : "test",
                    "start" : 1516627792,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 9000000,
                    "subscription_code" : "SUB_pz6388b8g98bhr4",
                    "email_token" : "1q8bnm7nfulshpv",
                    "easy_cron_id" : "493967",
                    "cron_expression" : "0 0 21 * *",
                    "next_payment_date" : "2018-02-21T13:29:50.000Z",
                    "invoice_limit" : 0,
                    "id" : 36181,
                    "createdAt" : "2018-01-22T13:29:52.000Z",
                    "updatedAt" : "2018-01-22T13:29:52.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee11",
                      "last_name" : "demo",
                      "email" : "employee11@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_fs968067v1doow0",
                      "risk_action" : "default",
                      "id" : 1395756,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:44:52.000Z",
                      "updatedAt" : "2018-01-14T13:44:52.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Mpc product MY8M12AD6AMV",
                      "plan_code" : "PLN_0n5mh1zojhq0yw2",
                      "amount" : 9000000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8231,
                      "integration" : 132621,
                      "createdAt" : "2018-01-22T13:14:59.000Z",
                      "updatedAt" : "2018-01-22T13:14:59.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3620114,
                    "domain" : "test",
                    "start" : 1516627084,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 9000000,
                    "subscription_code" : "SUB_6a1ueijc69dn8ia",
                    "email_token" : "s1fjsq8aia1r4mp",
                    "easy_cron_id" : "493966",
                    "cron_expression" : "0 0 21 * *",
                    "next_payment_date" : "2018-02-21T13:17:58.000Z",
                    "invoice_limit" : 0,
                    "id" : 36180,
                    "createdAt" : "2018-01-22T13:18:04.000Z",
                    "updatedAt" : "2018-01-22T13:18:09.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee14",
                      "last_name" : "demo",
                      "email" : "employee14@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_7o5rpgyihn2ccui",
                      "risk_action" : "default",
                      "id" : 1395761,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:45:04.000Z",
                      "updatedAt" : "2018-01-14T13:45:04.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Mpc product MY8M12AD6AMV",
                      "plan_code" : "PLN_0n5mh1zojhq0yw2",
                      "amount" : 9000000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8231,
                      "integration" : 132621,
                      "createdAt" : "2018-01-22T13:14:59.000Z",
                      "updatedAt" : "2018-01-22T13:14:59.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3658609,
                    "domain" : "test",
                    "start" : 1516627082,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 9000000,
                    "subscription_code" : "SUB_0530l7rkso3hlk6",
                    "email_token" : "30ed3a6ekqowv6e",
                    "easy_cron_id" : "493965",
                    "cron_expression" : "0 0 21 * *",
                    "next_payment_date" : "2018-02-21T13:17:58.000Z",
                    "invoice_limit" : 0,
                    "id" : 36179,
                    "createdAt" : "2018-01-22T13:18:02.000Z",
                    "updatedAt" : "2018-01-22T13:18:02.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee13",
                      "last_name" : "demo",
                      "email" : "employee13@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_4krtj6y63m5fobz",
                      "risk_action" : "default",
                      "id" : 1395760,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:45:02.000Z",
                      "updatedAt" : "2018-01-14T13:45:02.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Mpc product MY8M12AD6AMV",
                      "plan_code" : "PLN_0n5mh1zojhq0yw2",
                      "amount" : 9000000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8231,
                      "integration" : 132621,
                      "createdAt" : "2018-01-22T13:14:59.000Z",
                      "updatedAt" : "2018-01-22T13:14:59.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3625849,
                    "domain" : "test",
                    "start" : 1516627080,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 9000000,
                    "subscription_code" : "SUB_sxach1ectrbsdfh",
                    "email_token" : "n0q52muafk5g2lz",
                    "easy_cron_id" : "493964",
                    "cron_expression" : "0 0 21 * *",
                    "next_payment_date" : "2018-02-21T13:17:58.000Z",
                    "invoice_limit" : 0,
                    "id" : 36178,
                    "createdAt" : "2018-01-22T13:18:00.000Z",
                    "updatedAt" : "2018-01-22T13:18:01.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee12",
                      "last_name" : "emo",
                      "email" : "employee12@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_5z5i6sw36jx2wlu",
                      "risk_action" : "default",
                      "id" : 1395757,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:44:56.000Z",
                      "updatedAt" : "2018-01-14T13:44:56.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Mpc product ZAQYYS0CU9J2",
                      "plan_code" : "PLN_hnhpbv7t6ifny7s",
                      "amount" : 9000000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8230,
                      "integration" : 132621,
                      "createdAt" : "2018-01-22T13:04:17.000Z",
                      "updatedAt" : "2018-01-22T13:04:17.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3625717,
                    "domain" : "test",
                    "start" : 1516626884,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 9000000,
                    "subscription_code" : "SUB_x7mnc2hfxgn9mvy",
                    "email_token" : "vmlymyc283ubnr2",
                    "easy_cron_id" : "493963",
                    "cron_expression" : "0 0 21 * *",
                    "next_payment_date" : "2018-02-21T13:14:39.000Z",
                    "invoice_limit" : 0,
                    "id" : 36177,
                    "createdAt" : "2018-01-22T13:14:44.000Z",
                    "updatedAt" : "2018-01-22T13:14:45.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee11",
                      "last_name" : "demo",
                      "email" : "employee11@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_fs968067v1doow0",
                      "risk_action" : "default",
                      "id" : 1395756,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:44:52.000Z",
                      "updatedAt" : "2018-01-14T13:44:52.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Mpc product ZAQYYS0CU9J2",
                      "plan_code" : "PLN_hnhpbv7t6ifny7s",
                      "amount" : 9000000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8230,
                      "integration" : 132621,
                      "createdAt" : "2018-01-22T13:04:17.000Z",
                      "updatedAt" : "2018-01-22T13:04:17.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3620114,
                    "domain" : "test",
                    "start" : 1516626883,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 9000000,
                    "subscription_code" : "SUB_ftf7tfkcah7oyda",
                    "email_token" : "vdtc2b8hyahc226",
                    "easy_cron_id" : "493962",
                    "cron_expression" : "0 0 21 * *",
                    "next_payment_date" : "2018-02-21T13:14:39.000Z",
                    "invoice_limit" : 0,
                    "id" : 36176,
                    "createdAt" : "2018-01-22T13:14:43.000Z",
                    "updatedAt" : "2018-01-22T13:14:44.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee14",
                      "last_name" : "demo",
                      "email" : "employee14@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_7o5rpgyihn2ccui",
                      "risk_action" : "default",
                      "id" : 1395761,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:45:04.000Z",
                      "updatedAt" : "2018-01-14T13:45:04.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Mpc product ZAQYYS0CU9J2",
                      "plan_code" : "PLN_hnhpbv7t6ifny7s",
                      "amount" : 9000000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8230,
                      "integration" : 132621,
                      "createdAt" : "2018-01-22T13:04:17.000Z",
                      "updatedAt" : "2018-01-22T13:04:17.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3658609,
                    "domain" : "test",
                    "start" : 1516626881,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 9000000,
                    "subscription_code" : "SUB_h1cs0ntq45hf4cp",
                    "email_token" : "ps5t7usida5kygw",
                    "easy_cron_id" : "493961",
                    "cron_expression" : "0 0 21 * *",
                    "next_payment_date" : "2018-02-21T13:14:39.000Z",
                    "invoice_limit" : 0,
                    "id" : 36175,
                    "createdAt" : "2018-01-22T13:14:41.000Z",
                    "updatedAt" : "2018-01-22T13:14:42.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee13",
                      "last_name" : "demo",
                      "email" : "employee13@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_4krtj6y63m5fobz",
                      "risk_action" : "default",
                      "id" : 1395760,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:45:02.000Z",
                      "updatedAt" : "2018-01-14T13:45:02.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Mpc product DLPX8GQMHZXV",
                      "plan_code" : "PLN_ucpz4nthvhaon0z",
                      "amount" : 9000000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8229,
                      "integration" : 132621,
                      "createdAt" : "2018-01-22T13:02:31.000Z",
                      "updatedAt" : "2018-01-22T13:02:31.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3625849,
                    "domain" : "test",
                    "start" : 1516626186,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 9000000,
                    "subscription_code" : "SUB_53m01v14zhjivhu",
                    "email_token" : "zz2rtsancgqup7r",
                    "easy_cron_id" : "493959",
                    "cron_expression" : "0 0 21 * *",
                    "next_payment_date" : "2018-02-21T13:02:58.000Z",
                    "invoice_limit" : 0,
                    "id" : 36173,
                    "createdAt" : "2018-01-22T13:03:06.000Z",
                    "updatedAt" : "2018-01-22T13:03:06.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee12",
                      "last_name" : "emo",
                      "email" : "employee12@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_5z5i6sw36jx2wlu",
                      "risk_action" : "default",
                      "id" : 1395757,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:44:56.000Z",
                      "updatedAt" : "2018-01-14T13:44:56.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Mpc product DLPX8GQMHZXV",
                      "plan_code" : "PLN_ucpz4nthvhaon0z",
                      "amount" : 9000000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8229,
                      "integration" : 132621,
                      "createdAt" : "2018-01-22T13:02:31.000Z",
                      "updatedAt" : "2018-01-22T13:02:31.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3625717,
                    "domain" : "test",
                    "start" : 1516626183,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 9000000,
                    "subscription_code" : "SUB_5fs6ihqndix93m4",
                    "email_token" : "u3m15963gd0olha",
                    "easy_cron_id" : "493958",
                    "cron_expression" : "0 0 21 * *",
                    "next_payment_date" : "2018-02-21T13:02:58.000Z",
                    "invoice_limit" : 0,
                    "id" : 36172,
                    "createdAt" : "2018-01-22T13:03:03.000Z",
                    "updatedAt" : "2018-01-22T13:03:05.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee11",
                      "last_name" : "demo",
                      "email" : "employee11@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_fs968067v1doow0",
                      "risk_action" : "default",
                      "id" : 1395756,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:44:52.000Z",
                      "updatedAt" : "2018-01-14T13:44:52.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Mpc product DLPX8GQMHZXV",
                      "plan_code" : "PLN_ucpz4nthvhaon0z",
                      "amount" : 9000000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8229,
                      "integration" : 132621,
                      "createdAt" : "2018-01-22T13:02:31.000Z",
                      "updatedAt" : "2018-01-22T13:02:31.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3620114,
                    "domain" : "test",
                    "start" : 1516626180,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 9000000,
                    "subscription_code" : "SUB_ejrv62w0xi84tcf",
                    "email_token" : "31amwtboj1i35z9",
                    "easy_cron_id" : "493957",
                    "cron_expression" : "0 0 21 * *",
                    "next_payment_date" : "2018-02-21T13:02:58.000Z",
                    "invoice_limit" : 0,
                    "id" : 36171,
                    "createdAt" : "2018-01-22T13:03:00.000Z",
                    "updatedAt" : "2018-01-22T13:03:01.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee13",
                      "last_name" : "demo",
                      "email" : "employee13@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_4krtj6y63m5fobz",
                      "risk_action" : "default",
                      "id" : 1395760,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:45:02.000Z",
                      "updatedAt" : "2018-01-14T13:45:02.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Mpc product KKHB47IW65UL",
                      "plan_code" : "PLN_mmt6z98r0vglxq8",
                      "amount" : 9000000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8226,
                      "integration" : 132621,
                      "createdAt" : "2018-01-22T12:28:02.000Z",
                      "updatedAt" : "2018-01-22T12:28:02.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3625849,
                    "domain" : "test",
                    "start" : 1516624143,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 9000000,
                    "subscription_code" : "SUB_lhi6bopt5xde19l",
                    "email_token" : "2qlin7ligxdndna",
                    "easy_cron_id" : "493949",
                    "cron_expression" : "0 0 21 * *",
                    "next_payment_date" : "2018-02-21T12:28:58.000Z",
                    "invoice_limit" : 0,
                    "id" : 36166,
                    "createdAt" : "2018-01-22T12:29:03.000Z",
                    "updatedAt" : "2018-01-22T12:29:04.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee12",
                      "last_name" : "emo",
                      "email" : "employee12@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_5z5i6sw36jx2wlu",
                      "risk_action" : "default",
                      "id" : 1395757,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:44:56.000Z",
                      "updatedAt" : "2018-01-14T13:44:56.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Mpc product KKHB47IW65UL",
                      "plan_code" : "PLN_mmt6z98r0vglxq8",
                      "amount" : 9000000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8226,
                      "integration" : 132621,
                      "createdAt" : "2018-01-22T12:28:02.000Z",
                      "updatedAt" : "2018-01-22T12:28:02.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3625717,
                    "domain" : "test",
                    "start" : 1516624141,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 9000000,
                    "subscription_code" : "SUB_vsu30z98riqxx2x",
                    "email_token" : "frtaegj04y756xm",
                    "easy_cron_id" : "493948",
                    "cron_expression" : "0 0 21 * *",
                    "next_payment_date" : "2018-02-21T12:28:58.000Z",
                    "invoice_limit" : 0,
                    "id" : 36165,
                    "createdAt" : "2018-01-22T12:29:01.000Z",
                    "updatedAt" : "2018-01-22T12:29:02.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee11",
                      "last_name" : "demo",
                      "email" : "employee11@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_fs968067v1doow0",
                      "risk_action" : "default",
                      "id" : 1395756,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:44:52.000Z",
                      "updatedAt" : "2018-01-14T13:44:52.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Mpc product KKHB47IW65UL",
                      "plan_code" : "PLN_mmt6z98r0vglxq8",
                      "amount" : 9000000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8226,
                      "integration" : 132621,
                      "createdAt" : "2018-01-22T12:28:02.000Z",
                      "updatedAt" : "2018-01-22T12:28:02.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3620114,
                    "domain" : "test",
                    "start" : 1516624140,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 9000000,
                    "subscription_code" : "SUB_zp574lozv6llekc",
                    "email_token" : "fku9iyq6575t8vi",
                    "easy_cron_id" : "493947",
                    "cron_expression" : "0 0 21 * *",
                    "next_payment_date" : "2018-02-21T12:28:58.000Z",
                    "invoice_limit" : 0,
                    "id" : 36164,
                    "createdAt" : "2018-01-22T12:29:00.000Z",
                    "updatedAt" : "2018-01-22T12:29:00.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee14",
                      "last_name" : "demo",
                      "email" : "employee14@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_7o5rpgyihn2ccui",
                      "risk_action" : "default",
                      "id" : 1395761,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:45:04.000Z",
                      "updatedAt" : "2018-01-14T13:45:04.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Good product FAQ130X1GZKD",
                      "plan_code" : "PLN_v425e4j6eyt55me",
                      "amount" : 5000000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8225,
                      "integration" : 132621,
                      "createdAt" : "2018-01-22T10:36:37.000Z",
                      "updatedAt" : "2018-01-22T10:36:37.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3658609,
                    "domain" : "test",
                    "start" : 1516618242,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 5000000,
                    "subscription_code" : "SUB_y517eofx0k3wuev",
                    "email_token" : "tru7qxp8m3f3hp0",
                    "easy_cron_id" : "493921",
                    "cron_expression" : "0 0 21 * *",
                    "next_payment_date" : "2018-02-21T10:50:35.000Z",
                    "invoice_limit" : 0,
                    "id" : 36153,
                    "createdAt" : "2018-01-22T10:50:42.000Z",
                    "updatedAt" : "2018-01-22T10:50:43.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee13",
                      "last_name" : "demo",
                      "email" : "employee13@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_4krtj6y63m5fobz",
                      "risk_action" : "default",
                      "id" : 1395760,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:45:02.000Z",
                      "updatedAt" : "2018-01-14T13:45:02.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Good product FAQ130X1GZKD",
                      "plan_code" : "PLN_v425e4j6eyt55me",
                      "amount" : 5000000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8225,
                      "integration" : 132621,
                      "createdAt" : "2018-01-22T10:36:37.000Z",
                      "updatedAt" : "2018-01-22T10:36:37.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3625849,
                    "domain" : "test",
                    "start" : 1516618240,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 5000000,
                    "subscription_code" : "SUB_pmmw1bssp5wupjc",
                    "email_token" : "wnsl72jwcocmjgb",
                    "easy_cron_id" : "493920",
                    "cron_expression" : "0 0 21 * *",
                    "next_payment_date" : "2018-02-21T10:50:35.000Z",
                    "invoice_limit" : 0,
                    "id" : 36152,
                    "createdAt" : "2018-01-22T10:50:40.000Z",
                    "updatedAt" : "2018-01-22T10:50:41.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee12",
                      "last_name" : "emo",
                      "email" : "employee12@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_5z5i6sw36jx2wlu",
                      "risk_action" : "default",
                      "id" : 1395757,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:44:56.000Z",
                      "updatedAt" : "2018-01-14T13:44:56.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Good product FAQ130X1GZKD",
                      "plan_code" : "PLN_v425e4j6eyt55me",
                      "amount" : 5000000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8225,
                      "integration" : 132621,
                      "createdAt" : "2018-01-22T10:36:37.000Z",
                      "updatedAt" : "2018-01-22T10:36:37.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3625717,
                    "domain" : "test",
                    "start" : 1516618239,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 5000000,
                    "subscription_code" : "SUB_g5nnr91a93881ki",
                    "email_token" : "hmx3etjyf3l67ws",
                    "easy_cron_id" : "493919",
                    "cron_expression" : "0 0 21 * *",
                    "next_payment_date" : "2018-02-21T10:50:35.000Z",
                    "invoice_limit" : 0,
                    "id" : 36151,
                    "createdAt" : "2018-01-22T10:50:39.000Z",
                    "updatedAt" : "2018-01-22T10:50:40.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee11",
                      "last_name" : "demo",
                      "email" : "employee11@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_fs968067v1doow0",
                      "risk_action" : "default",
                      "id" : 1395756,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:44:52.000Z",
                      "updatedAt" : "2018-01-14T13:44:52.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Good product FAQ130X1GZKD",
                      "plan_code" : "PLN_v425e4j6eyt55me",
                      "amount" : 5000000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8225,
                      "integration" : 132621,
                      "createdAt" : "2018-01-22T10:36:37.000Z",
                      "updatedAt" : "2018-01-22T10:36:37.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3620114,
                    "domain" : "test",
                    "start" : 1516618238,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 5000000,
                    "subscription_code" : "SUB_kcfhkosqhn13h8a",
                    "email_token" : "k6bvxdrlx4xqlg3",
                    "easy_cron_id" : "493918",
                    "cron_expression" : "0 0 21 * *",
                    "next_payment_date" : "2018-02-21T10:50:35.000Z",
                    "invoice_limit" : 0,
                    "id" : 36150,
                    "createdAt" : "2018-01-22T10:50:38.000Z",
                    "updatedAt" : "2018-01-22T10:50:38.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee14",
                      "last_name" : "demo",
                      "email" : "employee14@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_7o5rpgyihn2ccui",
                      "risk_action" : "default",
                      "id" : 1395761,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:45:04.000Z",
                      "updatedAt" : "2018-01-14T13:45:04.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Good product R1RR2R3R4R5",
                      "plan_code" : "PLN_mm752s00e60hhk7",
                      "description" : "",
                      "amount" : 5000000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8173,
                      "integration" : 132621,
                      "createdAt" : "2018-01-18T12:10:28.000Z",
                      "updatedAt" : "2018-01-18T12:10:28.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3658609,
                    "domain" : "test",
                    "start" : 1516429694,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 5000000,
                    "subscription_code" : "SUB_4rayx6mta5yqmym",
                    "email_token" : "bdd6synhcdkjb0y",
                    "easy_cron_id" : "493148",
                    "cron_expression" : "0 0 19 * *",
                    "next_payment_date" : "2018-02-19T06:28:08.000Z",
                    "invoice_limit" : 0,
                    "id" : 36002,
                    "createdAt" : "2018-01-20T06:28:14.000Z",
                    "updatedAt" : "2018-01-20T06:28:15.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee13",
                      "last_name" : "demo",
                      "email" : "employee13@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_4krtj6y63m5fobz",
                      "risk_action" : "default",
                      "id" : 1395760,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:45:02.000Z",
                      "updatedAt" : "2018-01-14T13:45:02.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Good product R1RR2R3R4R5",
                      "plan_code" : "PLN_mm752s00e60hhk7",
                      "description" : "",
                      "amount" : 5000000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8173,
                      "integration" : 132621,
                      "createdAt" : "2018-01-18T12:10:28.000Z",
                      "updatedAt" : "2018-01-18T12:10:28.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3625849,
                    "domain" : "test",
                    "start" : 1516429693,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 5000000,
                    "subscription_code" : "SUB_bkme8lju5xlvle4",
                    "email_token" : "pkxx935gcly9t2u",
                    "easy_cron_id" : "493147",
                    "cron_expression" : "0 0 19 * *",
                    "next_payment_date" : "2018-02-19T06:28:08.000Z",
                    "invoice_limit" : 0,
                    "id" : 36001,
                    "createdAt" : "2018-01-20T06:28:13.000Z",
                    "updatedAt" : "2018-01-20T06:28:14.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee11",
                      "last_name" : "demo",
                      "email" : "employee11@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_fs968067v1doow0",
                      "risk_action" : "default",
                      "id" : 1395756,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:44:52.000Z",
                      "updatedAt" : "2018-01-14T13:44:52.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Good product R1RR2R3R4R5",
                      "plan_code" : "PLN_mm752s00e60hhk7",
                      "description" : "",
                      "amount" : 5000000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8173,
                      "integration" : 132621,
                      "createdAt" : "2018-01-18T12:10:28.000Z",
                      "updatedAt" : "2018-01-18T12:10:28.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3620114,
                    "domain" : "test",
                    "start" : 1516429692,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 5000000,
                    "subscription_code" : "SUB_5es1mw1kxm46gtd",
                    "email_token" : "sbfm13oydbkm52f",
                    "easy_cron_id" : "493145",
                    "cron_expression" : "0 0 19 * *",
                    "next_payment_date" : "2018-02-19T06:28:08.000Z",
                    "invoice_limit" : 0,
                    "id" : 35999,
                    "createdAt" : "2018-01-20T06:28:12.000Z",
                    "updatedAt" : "2018-01-20T06:28:12.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee12",
                      "last_name" : "emo",
                      "email" : "employee12@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_5z5i6sw36jx2wlu",
                      "risk_action" : "default",
                      "id" : 1395757,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:44:56.000Z",
                      "updatedAt" : "2018-01-14T13:44:56.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Good product R1RR2R3R4R5",
                      "plan_code" : "PLN_mm752s00e60hhk7",
                      "description" : "",
                      "amount" : 5000000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8173,
                      "integration" : 132621,
                      "createdAt" : "2018-01-18T12:10:28.000Z",
                      "updatedAt" : "2018-01-18T12:10:28.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3625717,
                    "domain" : "test",
                    "start" : 1516429692,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 5000000,
                    "subscription_code" : "SUB_7xxt5qcrra1hfqu",
                    "email_token" : "tos1qk2qcm3m9xk",
                    "easy_cron_id" : "493146",
                    "cron_expression" : "0 0 19 * *",
                    "next_payment_date" : "2018-02-19T06:28:08.000Z",
                    "invoice_limit" : 0,
                    "id" : 36000,
                    "createdAt" : "2018-01-20T06:28:12.000Z",
                    "updatedAt" : "2018-01-20T06:28:13.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee12",
                      "last_name" : "emo",
                      "email" : "employee12@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_5z5i6sw36jx2wlu",
                      "risk_action" : "default",
                      "id" : 1395757,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:44:56.000Z",
                      "updatedAt" : "2018-01-14T13:44:56.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Private Thrift MYF8H2O63",
                      "plan_code" : "PLN_bxknjmadmsr87of",
                      "amount" : 1200000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8197,
                      "integration" : 132621,
                      "createdAt" : "2018-01-20T06:18:44.000Z",
                      "updatedAt" : "2018-01-20T06:18:44.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3625717,
                    "domain" : "test",
                    "start" : 1516429175,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 1200000,
                    "subscription_code" : "SUB_82t90s0th5uypnr",
                    "email_token" : "tnvwf8cht0rk7jv",
                    "easy_cron_id" : "493144",
                    "cron_expression" : "0 0 19 * *",
                    "next_payment_date" : "2018-02-19T06:18:42.000Z",
                    "invoice_limit" : 0,
                    "id" : 35998,
                    "createdAt" : "2018-01-20T06:19:35.000Z",
                    "updatedAt" : "2018-01-20T06:19:36.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee11",
                      "last_name" : "demo",
                      "email" : "employee11@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_fs968067v1doow0",
                      "risk_action" : "default",
                      "id" : 1395756,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:44:52.000Z",
                      "updatedAt" : "2018-01-14T13:44:52.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "Private Thrift MYF8H2O63",
                      "plan_code" : "PLN_bxknjmadmsr87of",
                      "amount" : 1200000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8197,
                      "integration" : 132621,
                      "createdAt" : "2018-01-20T06:18:44.000Z",
                      "updatedAt" : "2018-01-20T06:18:44.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3620114,
                    "domain" : "test",
                    "start" : 1516429174,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 1200000,
                    "subscription_code" : "SUB_3yzhgywmdjba0dz",
                    "email_token" : "8olq6gbnnufqxre",
                    "easy_cron_id" : "493143",
                    "cron_expression" : "0 0 19 * *",
                    "next_payment_date" : "2018-02-19T06:18:42.000Z",
                    "invoice_limit" : 0,
                    "id" : 35997,
                    "createdAt" : "2018-01-20T06:19:34.000Z",
                    "updatedAt" : "2018-01-20T06:19:35.000Z"
                  }, {
                    "customer" : {
                      "first_name" : "employee12",
                      "last_name" : "emo",
                      "email" : "employee12@demo.com",
                      "domain" : "test",
                      "customer_code" : "CUS_5z5i6sw36jx2wlu",
                      "risk_action" : "default",
                      "id" : 1395757,
                      "integration" : 132621,
                      "createdAt" : "2018-01-14T13:44:56.000Z",
                      "updatedAt" : "2018-01-14T13:44:56.000Z"
                    },
                    "plan" : {
                      "domain" : "test",
                      "name" : "ZAQ Prosper RS8GUZ",
                      "plan_code" : "PLN_n5u9lsl3ldtjpla",
                      "amount" : 44200000,
                      "interval" : "monthly",
                      "invoice_limit" : 0,
                      "send_invoices" : true,
                      "send_sms" : true,
                      "hosted_page" : false,
                      "currency" : "NGN",
                      "migrate" : false,
                      "id" : 8131,
                      "integration" : 132621,
                      "createdAt" : "2018-01-15T10:21:32.000Z",
                      "updatedAt" : "2018-01-15T10:21:32.000Z"
                    },
                    "integration" : 132621,
                    "authorization" : 3625717,
                    "domain" : "test",
                    "start" : 1516428131,
                    "status" : "active",
                    "quantity" : 1,
                    "amount" : 44200000,
                    "subscription_code" : "SUB_tvpgx6ee7c0h5q2",
                    "email_token" : "rat7afimr2r2bop",
                    "easy_cron_id" : "493141",
                    "cron_expression" : "0 0 19 * *",
                    "next_payment_date" : "2018-02-19T06:01:29.000Z",
                    "invoice_limit" : 0,
                    "id" : 35996,
                    "createdAt" : "2018-01-20T06:02:11.000Z",
                    "updatedAt" : "2018-01-20T06:02:12.000Z"
                  } ],
                  "meta" : {
                    "total" : 29,
                    "skipped" : 0,
                    "perPage" : 50,
                    "page" : 1,
                    "pageCount" : 1
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Subscriptions" ],
        "summary" : "Create Subscription",
        "description" : "**Body Params**\n- **customer** (_required_) - Customer's email address or customer code\n- **plan** (_required_) - Plan code\n- **authorization** - If customer has multiple authorizations, you can set the desired authorization you wish to use for this subscription here. If this is not supplied, the customer's most recent authorization would be used\n- **start_date** - Set the date for the first debit. (ISO 8601 format)\n\nNote the `email_token` attribute for the subscription object. We create one on each subscription so customers can cancel their subscriptions from within the invoices sent to their mailboxes. Since they are not authorized, the email tokens are what we use to authenticate the requests over the API.",
        "operationId" : "CreateSubscription",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "**Body Params**\n- **customer** (_required_) - Customer's email address or customer code\n- **plan** (_required_) - Plan code\n- **authorization** - If customer has multiple authorizations, you can set the desired authorization you wish to use for this subscription here. If this is not supplied, the customer's most recent authorization would be used\n- **start_date** - Set the date for the first debit. (ISO 8601 format)\n\nNote the `email_token` attribute for the subscription object. We create one on each subscription so customers can cancel their subscriptions from within the invoices sent to their mailboxes. Since they are not authorized, the email tokens are what we use to authenticate the requests over the API.",
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_10"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : { }
        }
      }
    },
    "/subscription/{id_or_subscription_code}" : {
      "get" : {
        "tags" : [ "Subscriptions" ],
        "summary" : "Fetch Subscription",
        "operationId" : "FetchSubscription",
        "parameters" : [ {
          "name" : "id_or_subscription_code",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "number"
          }
        } ],
        "responses" : {
          "200" : { }
        }
      }
    },
    "/subscription/disable" : {
      "post" : {
        "tags" : [ "Subscriptions" ],
        "summary" : "Disable Subscription",
        "description" : "**Body Params**\n- **code** (_required_) - Subscription code\n- **token** (_required_) - Email token",
        "operationId" : "DisableSubscription",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "**Body Params**\n- **code** (_required_) - Subscription code\n- **token** (_required_) - Email token",
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_11"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : { }
        }
      }
    },
    "/subscription/enable" : {
      "post" : {
        "tags" : [ "Subscriptions" ],
        "summary" : "Enable Subscription",
        "description" : "**Body Params**\n- **code** (_required_) - Subscription code\n- **token** (_required_) - Email token",
        "operationId" : "EnableSubscription",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "**Body Params**\n- **code** (_required_) - Subscription code\n- **token** (_required_) - Email token",
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_12"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : { }
        }
      }
    },
    "/page" : {
      "get" : {
        "tags" : [ "Payment Pages" ],
        "summary" : "List Pages",
        "description" : "**Query Params**\n- **perPage** - Specify how many records you want to retrieve per page\n- **page** - Specify exactly what page you want to retrieve\n- **interval** - Filter list by plans with specified interval\n- **amount** - Filter list by plans with specified amount (in kobo)",
        "operationId" : "ListPages",
        "parameters" : [ ],
        "responses" : {
          "200" : { }
        }
      },
      "post" : {
        "tags" : [ "Payment Pages" ],
        "summary" : "Create Page",
        "description" : "**Body Params**\n- **name** (_required_) - Name of page\n- **description** - Short description of page\n- **amount** - Default amount you want to accept using this page. If none is set, customer is free to provide any amount of their choice. The latter scenario is useful for accepting donations\n- **slug** - URL slug you would like to be associated with this page. Page will be accessible at https://paystack.com/pay/[slug]\n- **redirect_url** - If you would like Paystack to redirect someplace upon successful payment, specify the URL here.\n- **send_invoices** - Set to false if you don't want invoices to be sent to your customers\n- **custom_fields** - If you would like to accept custom fields, specify them here. See sample code for details.\n\nSend pages created to your customers by giving out a link in this format https://paystack.com/pay/:slug. For instance, a valid link for the page above would be https://paystack.com/pay/5nApBwZkvY",
        "operationId" : "CreatePage",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "**Body Params**\n- **name** (_required_) - Name of page\n- **description** - Short description of page\n- **amount** - Default amount you want to accept using this page. If none is set, customer is free to provide any amount of their choice. The latter scenario is useful for accepting donations\n- **slug** - URL slug you would like to be associated with this page. Page will be accessible at https://paystack.com/pay/[slug]\n- **redirect_url** - If you would like Paystack to redirect someplace upon successful payment, specify the URL here.\n- **send_invoices** - Set to false if you don't want invoices to be sent to your customers\n- **custom_fields** - If you would like to accept custom fields, specify them here. See sample code for details.\n\nSend pages created to your customers by giving out a link in this format https://paystack.com/pay/:slug. For instance, a valid link for the page above would be https://paystack.com/pay/5nApBwZkvY",
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_13"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : { }
        }
      }
    },
    "/page/id_or_plan_code" : {
      "get" : {
        "tags" : [ "Payment Pages" ],
        "summary" : "Fetch Page",
        "operationId" : "FetchPage",
        "parameters" : [ ],
        "responses" : {
          "200" : { }
        }
      }
    },
    "/page/{id_or_plan_code}" : {
      "put" : {
        "tags" : [ "Payment Pages" ],
        "summary" : "Update Page",
[...]
